<launch>

    <arg name="thename" default="m100"/><!--无人机名称（每台无人机必须不相同）-->
    <arg name="axis" default="2"/><!--坐标系：1为全局自然坐标系，2为局部实验坐标系-->
    <arg name="index" default="0"/>
    <arg name="name" default="uav$(arg index)"/>
    <arg name="num" default="4"/>
    
    <!-- <node
    pkg = "cloud_server_communication"
    type = "subscribe"
    name = "$(arg name)_subscribe_node"
    output = "screen"
    respawn = "true">
    <param name="uav_index" type="int" value="$(arg index)"/>
    <param name="uav_name" type="string" value="$(arg name)"/>
    <param name="axis_id" type="int" value="$(arg axis)"/>
    <param name="num_uav" type="int" value="$(arg num)"/>
    </node> -->

    <node
    pkg = "cloud_server_communication"
    type = "subscribeGround"
    name = "$(arg name)_subscribe_node"
    output = "screen"
    respawn = "true">
    <param name="uav_index" type="int" value="$(arg index)"/>
    <param name="uav_name" type="string" value="$(arg name)"/>
    <param name="axis_id" type="int" value="$(arg axis)"/>
    <param name="num_uav" type="int" value="$(arg num)"/>
    <remap from="GPS_position" to="toBeNamed_1"/>
    <remap from="attitude" to="toBeNamed_2"/>
    <remap from="GPS_health" to="$(arg name)/status"/>
    </node>

    <node
    pkg = "cloud_server_communication"
    type = "client2ground"
    name = "$(arg name)_client2ground_node"
    output = "screen"
    respawn = "true">
    <param name="uav_index" type="int" value="$(arg index)"/>
    <param name="uav_name" type="string" value="$(arg name)"/>
    <param name="axis_id" type="int" value="$(arg axis)"/>
    <param name="num_uav" type="int" value="$(arg num)"/>
    <remap from="~GPS_position" to="$(arg name)/GPS_position"/>
    <remap from="~attitude" to="$(arg name)/attitude"/>
    <remap from="GPS_health" to="$(arg name)/GPS_health"/>
    </node>

    <node
    pkg = "cloud_server_communication"
    type = "statusUpdate"
    name = "$(arg name)_statusUpdate_node"
    output = "screen"
    respawn = "true">
    <param name="uav_index" type="int" value="$(arg index)"/>
    <param name="uav_name" type="string" value="$(arg name)"/>
    <param name="axis_id" type="int" value="$(arg axis)"/>
    <param name="num_uav" type="int" value="$(arg num)"/>
    <remap from="~GPS_position" to="$(arg name)/GPS_position"/>
    <remap from="~attitude" to="$(arg name)/attitude"/>
    </node>

</launch>
